<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
  }
  th {
    text-align: left;
  }
</style>

<h1>Accommodation office</h1>

<% if user_signed_in? %>
  <% if current_user.status == 'active' %>
    <% if current_user.officer_role.role == 'Admin' %>
      <div id="admin">
        <h4>Admin</h4>
        <ul>
          <li><%= link_to "Statistics", administration_statistics_path %></li>
          <li><%= link_to "Room Management", room_managements_path %></li>
          <li><%= link_to "Room History", room_histories_path %></li>
          <li><%= link_to "Housing Details Management", home_managehousingdetail_path %></li>
          <li><%= link_to "Housing Details Entry", housing_details_path %></li>
        </ul>
      </div>
    <% elsif current_user.officer_role.role == 'Supervisor' %>
      <div id = "supervisor">
        <h4>Supervisor</h4>
        <ul>
          <li><%= link_to "List of users", administration_userlist_path %></li>
          <li><%= link_to "Room Management", room_managements_path %></li>
          <li><%= link_to "Housing Details Management", home_managehousingdetail_path %></li>
        </ul>
      </div>
    <% elsif current_user.officer_role.role == 'Staff' %>
      <div id = "staff">
        <h4>Staffs</h4>
        <ul>
          <li><%= link_to "List of users", administration_userlist_path %></li>
          <li><%= link_to "Room Management", room_managements_path %></li>
          <li><%= link_to "Housing Details Entry", housing_details_path %></li>
        </ul>
      </div>
    <% else %>
      <h4>Newbie</h4>
      <ul>
        <li><%= link_to "List of users", administration_userlist_path %></li>
      </ul>
    <% end %>
  <% else %>
    <h4 style="color: #cc0000">You are not a active user.</h4>
  <% end %>
<% end %>
<p>
<h2>Public page</h2>
To view the Housing details of AIT residences please click here <%= link_to 'here', home_public_url, target: "_blank" %> </p>
