<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }
</style>


<h2>AIT Accommodation Page for all registered Residents</h2>

<!--<p>Find me in app/views/home/public.html.erb</p>-->

<% old_cat_id = 0 %>


<% @hd.each do |housing_detail| %>
    <% if housing_detail.category_id != old_cat_id then %>
        <div class="container marketing">

          <hr class="featurette-divider">
          <div class="row featurette">
            <!--<div class="col-md-8">-->
            <h2 class="featurette-heading"><strong>Category No : <%= housing_detail.category_id %></strong></h2>
            <div class="col-md-4">

              <% old_cat_id = housing_detail.category_id %>
              <h5><strong>Category name : </strong><%= housing_detail.category_name %></h5>
              <h5><strong>Description : </strong><%= housing_detail.description %></h5>
              <h5><strong>Approx Rent of Room : </strong><%= housing_detail.rent %></h5>
            </div>

            <div class="col-md-4">
              <h5><strong>Dorms in Category : </strong><%= housing_detail.dorm %></h5>
              <h5><strong>Size of Rooms : </strong><%= housing_detail.size %></h5>
              <h5><strong>Provision for Air Con in Rooms : </strong><%= housing_detail.air_con %></h5>
              <h5><strong>Provision for Balcony in Rooms : </strong><%= housing_detail.balcony %></h5>
            </div>

            <div class="col-md-4">
              <h5><strong>Bathroom in Room : </strong><%= housing_detail.bathroom %></h5>
              <h5><strong>Kitchen : </strong><%= housing_detail.kitchen %></h5>
              <h5><strong>Furniture in Rooms : </strong><%= housing_detail.furniture %></h5>
              <h5><strong>Room cleaning frequency : </strong><%= housing_detail.cleaning %></h5>
            </div>
          </div>
          <!--</div>-->
          <hr class="featurette-divider">
          <div class="">



            <h5><strong>Layout for Reference</strong></h5>

            <% if housing_detail.attachment.present? then %>

                <% pic_no = 1 %>
                <% attached_files = housing_detail.attachment.to_i %>
                <div class="container">
                  <br>
                  <div id="myCarousel<%= housing_detail.category_id %>" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <% attached_files.times do |a| %>
                          <% if a = 1 %> <li data-target="#myCarousel" data-slide-to="<%= a-1 %>0" class="active"></li>
                              <li data-target="#myCarousel" data-slide-to="<%= a-1 %>" ></li>
                              <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
                              <!--<li data-target="#myCarousel" data-slide-to="3"></li>-->
                          <% end %>
                      <% end %>
                    </ol>


                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <% pic_no = 1 %>
                      <% housing_detail.housingcategorypics.each do |pic| %>
                          <% if pic_no > 0 then %>
                              <div class="item active" style="text-align: center">
                                <%= image_tag pic.to_s , width: 600, height: 390 %>
                              </div>
                              <% pic_no = 0 %>
                          <% else %>
                            <div class="item" style="text-align: center">
                              <%= image_tag pic.to_s , width: 600, height: 390 %>
                            </div>
                          <% end %>
                      <% end %>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel<%= housing_detail.category_id %>" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>

                    <a class="right carousel-control" href="#myCarousel<%= housing_detail.category_id %>" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>

            </div>


            <% else %>
                <div class="row featurette">

                  <%= image_tag 'noimage.jpg', width: 600, height: 390  %>
                </div>
            <% end %>
            </div>
          <!--</div>-->
    <% end %>
<% end %>


