<h2>AIT Accommodation Page for all registered Residents</h2>
<!--<p>Find me in app/views/home/public.html.erb</p>-->

<% old_cat_id = 0 %>


<% @hd.each do |housing_detail| %>
    <% if housing_detail.category_id != old_cat_id then %>
        <div class="container marketing">

          <hr class="featurette-divider">
          <div class="row featurette">
            <!--<div class="col-md-8">-->
            <h2 class="featurette-heading"><strong>Category No : <%= housing_detail.category_id %></strong></h2>
            <div class="col-md-4">

              <% old_cat_id = housing_detail.category_id %>
              <h5><strong>Category name : </strong><%= housing_detail.category_name %></h5>
              <h5><strong>Description : </strong><%= housing_detail.description %></h5>
              <h5><strong>Approx Rent of Room : </strong><%= housing_detail.rent %></h5>
            </div>

            <div class="col-md-4">
              <h5><strong>Dorms in Category : </strong><%= housing_detail.dorm %></h5>
              <h5><strong>Size of Rooms : </strong><%= housing_detail.size %></h5>
              <h5><strong>Provision for Air Con in Rooms : </strong><%= housing_detail.air_con %></h5>
              <h5><strong>Provision for Balcony in Rooms : </strong><%= housing_detail.balcony %></h5>
            </div>

            <div class="col-md-4">
              <h5><strong>Bathroom in Room : </strong><%= housing_detail.bathroom %></h5>
              <h5><strong>Kitchen : </strong><%= housing_detail.kitchen %></h5>
              <h5><strong>Furniture in Rooms : </strong><%= housing_detail.furniture %></h5>
              <h5><strong>Room cleaning frequency : </strong><%= housing_detail.cleaning %></h5>
            </div>
          </div>
          <!--</div>-->
          <hr class="featurette-divider">
          <div class="row featurette">
            <h5><strong>Layout for Reference</strong></h5>
            <% if housing_detail.attachment.present? then %>
                <% housing_detail.housingcategorypics.each do |pic| %>
                    <div class="col-md-3">
                      <%= image_tag pic.to_s , width: 390, height: 192 %>
                    </div>
                <% end %>
            <% else %>
                <div class="col-md-4">
                  <%= image_tag 'noimage.jpg', width: 390, height: 192  %>
                </div>
            <% end %>
          </div>
          <!--</div>-->
    <% end %>
<% end %>
</div>

