<!DOCTYPE html>
<html lang="th" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Accommodation Office for Staffs</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!--<p class="notice"><%# notice %></p>-->
<!--<p class="alert"><%# alert %></p>-->
<div class="row" style="background-color: #003000">
  <div class="col-xs-9 col-md-9 col-sm-9">
    <%= link_to image_tag("http://www.asdu.ait.ac.th/lib/graphics/logos/aitlogo.gif"), root_path %>
    <!--<img src="http://www.asdu.ait.ac.th/lib/graphics/logos/aitlogo.gif" border="0" width="120" height="75">-->
    <%= link_to image_tag("http://www.asdu.ait.ac.th/lib/graphics/banners/aitfullname.gif"), root_path %>
    <!--<img src="http://www.asdu.ait.ac.th/lib/graphics/banners/aitfullname.gif" border="0" width="auto" height="28">-->
  </div>
  <div class="col-xs-3 col-md-3 col-sm-3" style="color: #f0f0f0">
    <div id="user_status">
      <% if user_signed_in? %>
          Welcome
          <%= current_user.email %> with <%= current_user.officer_role.role %> ( <%= current_user.officer_role.id %> )
          <%= link_to "Change Profiles", edit_user_registration_path %>
          <br>! Not you?
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
          <%= link_to "Sign up", new_user_registration_path %>
          or
          <%= link_to "Sign in", new_user_session_path %>.
      <% end %>
      <% if flash[:error] %>
          <div id="error">
            <br><%= flash[:error] %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<br/>
<div class="container-fluid" id="container">
  <%= yield %>
</div>
<p style="position: absolute; right: 0;">
  <a href="http://validator.w3.org/check?uri=referer"><img width="88" height="31" alt="Valid XHTML 1.0!" src="http://www.w3.org/Icons/valid-xhtml10"/></a>
  <br>Benya and Parth.
</p>
</body>
</html>
